<mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile [colspan]="2" [style.background]="'lightgreen'">
        <span><H1>My Business</H1></span>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'lightgreen'">
        <mat-form-field appearance="legacy">
            <mat-label>Name</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'lightgreen'">
        <mat-form-field appearance="legacy">
            <mat-label>Phone Number</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'lightgreen'">
        <mat-form-field appearance="legacy">
            <mat-label>Address</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'lightgreen'">
        <mat-form-field appearance="legacy">
            <mat-label>City</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'lightgreen'">
        <mat-form-field appearance="legacy">
            <mat-label>Pincode</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'lightgreen'">
        <mat-form-field appearance="legacy">
            <mat-label>GSTIN</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'lightgreen'">
        <mat-form-field appearance="legacy">
            <mat-label>Currency</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'lightgreen'">
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'lightgreen'">
        <button style="width:200px" (click)="addMyBusiness($event)" mat-raised-button>Submit</button>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'lightgreen'">
        <button style="width:200px" mat-raised-button>Cancel</button>
    </mat-grid-tile>
</mat-grid-list>


<div class="container">
    <button style="width:200px" routerLink="/home" mat-raised-button>Home Page</button>
</div>